%section.register.container
  = form_with model: @user, method: :post, layout: :horizontal, id: "registration-form", remote: true do |f|
    %header
      %h1 Register
    %fieldset
      - if @token
        = f.hidden_field :token, value: @token
      .form-group.row
        = f.label :email, "Email Address", class: 'col-form-label col-sm-2'
        .col-sm-6
          = f.email_field :email, value: @email, class: 'form-control'
      .form-group.row
        = f.label :password, "Password", class: 'col-form-label col-sm-2'
        .col-sm-6
          = f.password_field :password, class: 'form-control'
      .form-group.row
        = f.label :full_name, "Full Name", class: 'col-form-label col-sm-2'
        .col-sm-6
          = f.text_field :full_name, class: 'form-control'
      %hr
      .form-group.row
        = content_tag(:div, nil, id: "card-errors", role: "alert")
      .form-group.row
        = f.label :credit_card_number, "Credit Card Number", class: 'col-form-label col-sm-2'
        .col-sm-6
          = content_tag(:div, nil, id: 'card-number', class: 'form-control')
      .form-group.row
        = f.label :security_code, "Security Code", class: 'col-form-label col-sm-2'
        .col-sm-6
          = content_tag(:div, nil, id: 'card-cvc', class: 'form-control')
      .form-group.row
        = f.label :exp_date, "Expiration Date", class: 'col-form-label col-sm-2'
        .col-sm-6
          = content_tag(:div, nil, id: 'card-exp', class: 'form-control')
      .form_group
        = f.submit "Sign Up", class: 'btn', id: 'sign-up-button'
