%section.pw_reset.container
  .row
    .col-sm-5.col-md-offset-2
      %h2= "Forgot Your Password?"
      %br
      %p We will send you an email with a link so that you can reset your password.
      %br
  = form_tag password_reset_path, class: 'form-horizontal' do
    .form-group
      = label_tag 'Email Address', nil, class: 'col-sm-2 control-label'
      .col-sm-5
        = text_field_tag 'email',nil, class: 'form-control'
      .col-sm-3
        = submit_tag 'Send Email', class: 'btn btn-default'
