%article.video_category
  %header
    %h3= link_to @categories[0].name, category_path(@categories[0])
  .videos.row
    - 6.times do
      - video = @categories[0].videos.sample
      .video.col-sm-2
        = link_to video_path(video)  do
          %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to @categories[1].name, category_path(@categories[1])
  .videos.row
    - 6.times do
      - video = @categories[1].videos.sample
      .video.col-sm-2
        = link_to video_path(video)  do
          %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to @categories[2].name, category_path(@categories[2])
  .videos.row
    - 6.times do
      - video = @categories[2].videos.sample
      .video.col-sm-2
        - unless video.nil?
          = link_to video_path(video)  do
            %img(src="#{video.small_cover_url}")
