%article.video_category
  %header
    %h3= link_to @categories[0].name, category_path(@categories[0])
  .videos.row
    - @categories[0].recent_videos.each do |video|
      .video.col-sm-2
        - unless video.nil?
          = link_to video_path(video)  do
            %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to @categories[1].name, category_path(@categories[1])
  .videos.row
    - @categories[1].recent_videos.each do |video|
      .video.col-sm-2
        - unless video.nil?
          = link_to video_path(video)  do
            %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to @categories[2].name, category_path(@categories[2])
  .videos.row
    - @categories[2].recent_videos.each do |video|
      .video.col-sm-2
        - unless video.nil?
          = link_to video_path(video)  do
            %img(src="#{video.small_cover_url}")
