%article.video_category
  %header
    %h3= link_to "TV Comedies"
  .videos.row
    - 6.times do
      - video = @categories[0].videos.sample
      .video.col-sm-2
        = link_to video_path(video)  do
          %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to "TV Dramas"
  .videos.row
    - 6.times do
      - video = @categories[1].videos.sample
      .video.col-sm-2
        = link_to video_path(video)  do
          %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to "Reality TV"
  .videos.row
    - 6.times do
      - video = @categories[2].videos.sample
      .video.col-sm-2
        - unless video.nil?
          = link_to video_path(video)  do
            %img(src="#{video.small_cover_url}")
