%article.video
  .container
    .row
      .video_info.col-large-2.col-large-offset-3
        %header
          %h3= @video.title.titleize
          %span= "Rating: #{@video.calculate_rating}/5.0"
        %p= @video.description
    %br
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
        %br
        %br
        .actions
          %a.btn.btn-primary(href="") Watch Now
          - unless current_user.has_already_queued?(@video)
            = link_to "+ My Queue",
              queue_items_path(video_id: @video.id),
              method: 'post', class: 'btn btn-default'
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          .form-group
            = f.label "Rate this video"
            .row
              .col-sm-3
                = f.select :rating, options_for_video_reviews
          .form-group
            = f.label "Write Review"
            .row
              .col-sm-8
                = f.text_area :description, rows: 6, class: "col-sm-10"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn"
          = link_to "Cancel", video_path(@video)
      %header
        %h3= "User Reviews (#{@video.reviews.size})"
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span= "Rating: #{review.rating}"
                %p
                  by
                  = link_to review.user.full_name, ''
              .col-sm-8
                %p= review.description
